@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Yellowtail|Arvo');
@import url('https://fonts.googleapis.com/css?family=Caveat|Homemade+Apple|Josefin+Slab|Ranga');

#name {
  z-index: 1;
  display: inline-block;
  position: absolute;
  margin-top: 15%;
  color: white;
  padding-left: 13%;
  font-size: 650%;
  line-height: 40%;
  font-family: 'Yellowtail', cursive;
  text-align: center;
}

#subtitle {
  font-size: 25%;
  font-family: 'Cutive Mono', monospace;
}

#menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 22%;
  float: left;
  z-index: 1;
  position: fixed;
  background-color: #181818;
  word-wrap: break-word;
}

#menu li {
  font-size: 150%;
  text-align: left;
  padding: 0%;
  margin: 0;
  font-family: 'Cutive Mono', monospace;
}

.tab-content{
  display: flex;
  float: right;
  z-index: -1;
  overflow: hidden;
}

.tab-pane {
  display: flex;
  float: right;
  padding-left: 25%;
  padding-right: 5%;
}

#home {
  background: url("img/coveredited1.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  z-index: 0;
}

 #menu ul {
  list-style-type: none;
  margin-top: 65%;
  border-top: solid white;
  border-bottom: solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-width: thin;
  margin-left: 10%;
  margin-right: 12%;
 }

 #menu ul a:link, a:visited {
  color: white;
 }

 #menu ul a:hover, a:active {
  text-decoration: none;
  border-bottom: solid white;
 }

 #profileContainer {
  width: 30%;
  margin-top: -15%;
  margin-left: 35%;
 }

#profilePhoto {
  z-index: 5;
  width: 100%;
  height: auto;
  border-radius: 100%;
}

#icons {
  z-index: -1;
  display: block;
  margin-left: 40%;
  margin-top: 4%;
  background-color: black;
}

.icon {
  margin: 1%;
  width: 20%;
}

#email {
  margin-right: 5%;
}


.media {
  margin-top: 5%;
  margin-bottom: 3%;
}

.media-body {
  width: 40%;
  margin-left: 1%;
  margin-right: 3%;
}

#ayalaDiv {
  width: 30%;
}
#ayala {
  margin: 0;
  width: 100%;
}
#SAGC {
  margin: 0;
  width: 100%;
}
#LGBTAsianDiv {
  width: 30%;
}

#aboutContent {
  text-align: left;
  color: white;
  background-color: rgba(0,0,0,0.8);
  margin-top: 10%;
  width: 75%;
  margin-left: 15%;
  height: 80%;
  border-radius: 1%;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 5;
  display: block;
}

#aboutContent a {
  text-decoration: none;
  color: #ADD8E6;
}

#aboutMe {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("img/aboutCover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#titleContainer {
  width: 100%;
}

#aboutTitle {
  padding-left: 10%;
  font-family: 'Homemade Apple', cursive;
  margin-top: 7%;
  line-height: 0%;
}

#aboutText {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  font-family: 'Josefin Slab', serif;
  margin-bottom: -10%;
  font-size: 110%;
  overflow: scroll;
  height: 80%;
}

#aboutText h1, #photoContent h1 {
  font-family: 'Homemade Apple', cursive;
}

#resumeBody {
  height: 200%
}

#sidebar {
  width: 25%;
  height: 100%;
  border-style: outset;
  display: block;
  padding-left: 1%;
  font-size: 90%;
  margin-left: 1%;
  margin-top: 1.5%;
  background-color: #F5F5F5;
  font-family: 'Arvo', serif;
  word-wrap: break-word;
  padding-bottom: 1%;
}

#resumeContent {
  margin-left: 1%;
  margin-right: 2%;
  display: block;
  height: 100%;
  width: 65%;
  border-style: outset;
  margin-top: 1.5%;
  padding: 1%;
  padding-bottom: 0.5%;
  font-size: 80%;
  font-family: 'Arvo', serif;
  background-color: #F5F5F5;
  word-wrap: break-word;
}

.resume-section {
  margin-top: 2%;
}

#resume {
  background-color: #DCDCDC;
}

#resumeContent h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 400%;
}

#resumeContent h3 {
  font-family: 'Ranga', cursive;
}

#sidebar h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 300%;
}

#sidebar h4 {
  font-family: 'Ranga', cursive;
  font-size: 210%;
}

#sidebar hr {
  margin-bottom: 5%;
  margin-top: -3%;
  margin-right: 2%;
}

#courses {
  padding-right: 1%;
}

#resumeContent h4 {
  font-family: 'Arvo', serif;
  font-size: 115%;
  font-weight: bold;
}

.col-xs-4 {
  padding: 0;
}

.col-md-2 {
  padding: 0;
}

hr {
  padding: 0;
  margin: 0;
  border-bottom: rgba(0,0,0,0.3) solid 1px;
}

.resumeDates {
  margin-bottom: 1em;
  font-size: 85%;
}

#resumeBody {
  width: 110%;
}

#resumeCaption {
  padding: 1.5%;
  padding-top: 5%;
  padding-bottom: 10%;
}

#extra {
  margin-top: -3%;
}

#code {
  top: -30%;
  left: 0;
  position: fixed;
  width: 100%;
  height: 130%;
  background: url("img/codeCover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  font-family: 'Josefin Slab', serif;
  font-size: 110%;
}

#programmingLang {
  border-top: solid;
  border-bottom: solid;
  margin-top: 5%;
}

#programmingLang h4 {
  text-align: center;
}

#code h1 {
  font-family: 'Homemade Apple', cursive;
} 

#codeContent {
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin-top: 30%;
  text-align: justify;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#codeContent h2 {
  margin-bottom: 2%;
  font-family: 'Cutive Mono', monospace;
}

#codeContent h3, h4 {
 font-family: 'Cutive Mono', monospace;
}

#codeIntro {
  width: 80%;
  padding-top: 3%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#currentProjects {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}

#sceneVR {
  display: inline-block;
}

#sceneVRText {
  width: 70%;
  float: right;
}

#KnightLabLogo {
  background-color: #F0FFFF;
  width:25%;
  float: left;
} 

#workzone {
  margin-top: 5%;
  float: left;
  display: block;
  padding-right: 5%;
  padding-bottom: 7%;
  border-bottom: solid;
}

#workzoneText {
  float: right;
  width: 70%;
  display: block;
}

#workzoneImg {
  width: 25%;
  float: left;
  background-color: #F0FFFF;
  display: block;
}

#codeRelCourses {
  border-bottom: solid;
  margin-left: 10%;
  margin-right: 10%;
}

#dailyPieces p {
  margin: 0;
  /*color: #ADD8E6;*/
  color: black;
}

#photo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/photoCover.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#photoContent {
  text-align: justify;
  color: white;
  background-color: rgba(0,0,0,0.6);
  margin-top: 5%;
  width: 85%;
  margin-left: 10%;
  height: 90%;
  border-radius: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 5;
  display: block;
  font-family: 'Josefin Slab', serif;
}

#photoContent p {
  font-size: 150%;
  text-align: center;
  margin-top: 1%;
}

#photoContent h2 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  font-size: 200%;
}

#photoContent h1 {
  text-align: center;
  font-size: 300%;
}

#photoRedirect {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: center;
  -webkit-justify-content: center;
  width: 90%;
  margin-left: 5%;
}

#photoContent a {
  text-decoration: none;
  color: #ADD8E6;
}

.photoElement {
  width: 50%;
  text-align: center;
}

.photoCircle {
  width: 50%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.photoElement img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}