@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Caveat|Homemade+Apple|Josefin+Slab');

#name {
  z-index: 1;
  display: inline-block;
  position: absolute;
  margin-top: -35%;
  color: white;
  padding-left: 13%;
  font-size: 650%;
  line-height: 40%;
  font-family: 'Yellowtail', cursive;
  text-align: center;
}

#subtitle {
  font-size: 25%;
  font-family: 'Cutive Mono', monospace;
}

#menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 22%;
  float: left;
  z-index: 1;
  position: fixed;
  background-color: #181818;
}

#menu li {
  font-size: 150%;
  text-align: left;
  padding: 0%;
  margin: 0;
  font-family: 'Cutive Mono', monospace;
}

.tab-content{
  display: flex;
  float: right;
  z-index: -1;
  overflow: hidden;
}

.tab-pane {
  display: flex;
  float: right;
  padding-left: 25%;
  padding-right: 5%;
}

#home {
  background: url("img/coveredited1.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

#homeCover {
  width: 118%;
  margin-left: -5%;
  margin-right: 20%;
  z-index: -1;
  position: relative;
  visibility: hidden;
}

 #menu ul {
  list-style-type: none;
  margin-top: 65%;
  border-top: solid white;
  border-bottom: solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-width: thin;
  margin-left: 10%;
  margin-right: 12%;
 }

 #menu ul a:link, a:visited {
  color: white;
 }

 #menu ul a:hover, a:active {
  text-decoration: none;
  border-bottom: solid white;
 }

#profilePhoto {
  z-index: 5;
  margin-left: 10%;
  width: 30%;
  height: 25%;
  border-radius: 100%;
  margin-top: -15%;
  margin-left: 35%;
}

#icons {
  z-index: -1;
  display: block;
  margin-left: 40%;
  margin-top: 4%;
  background-color: black;
}

.icon {
  margin: 1%;
  width: 20%;
}

#email {
  margin-right: 5%;
}


.media {
  margin-top: 5%;
  margin-bottom: 3%;
}

.media-body {
  width: 40%;
  margin-left: 1%;
  margin-right: 3%;
}

#workzone {
  margin: 0;
  width: 100%;
}
#workzoneDiv {
  width: 30%;
}
#ayalaDiv {
  width: 30%;
}
#ayala {
  margin: 0;
  width: 100%;
}
#SAGC {
  margin: 0;
  width: 100%;
}
#LGBTAsianDiv {
  width: 30%;
}

#aboutContent {
  text-align: left;
  color: white;
  background-color: #181818;
  margin-top: 10%;
  width: 75%;
  margin-left: 15%;
  height: 100%;
  border-radius: 1%;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 5;
  display: block;
}

#aboutMe {
  background: url("img/3.jpg");
  background-size: 180% 150%;
  background-repeat: no-repeat;
  padding-bottom: 10%;
}

#aboutTitle {
  padding-left: 5%;
  font-family: 'Homemade Apple', cursive;
  margin-top: -35%;
}

#aboutText {
  padding: 3%;
  padding-left: 5%;
  padding-right: 40%;
  text-align: justify;
  font-family: 'Josefin Slab', serif;
}

#aboutText h1 {
  font-family: 'Homemade Apple', cursive;
}

#sideInfo h1{
  font-family: 'Homemade Apple', cursive;
  font-size: 150%;
}

#sideInfo h2 {
  font-family: 'Caveat', cursive;
  font-size: 130%;
}

#sideInfo {
  display: inline-block;
  color: white;
  margin-left: 60%;
  padding-left: 5%;
  margin-top: 5%;
}

#sideInfo li {
  font-family: 'Josefin Slab', serif;
}

#sidebar {
  width: 25%;
  margin: 1.5%;
  height: 200%;
  border-style: outset;
  display: block;
  padding-left: 1%;
}

#resumeContent {
  margin: 1%;
  margin-right: 2%;
  display: block;
  height: 200%;
  width: 68%;
  float: right;
  border-style: outset;
  float: right;
  margin-top: 1.5%;
  padding: 1%;
  padding-bottom: 0.5%;
}

#sidebar, #resumeContent {
  background-color: #FFFFFF;
}

.resume-section {
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-top: 2%;
}

#resumeContent h2 {
  font-family: 'Enriqueta', serif;
  font-size: 220%;
}

#skills {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.resumeDates {
  font-size: 0.8em;
  margin-bottom: 1em;
}

#resumeBody {
  background-color: #F0F0F0;
}

#codeGit {
  margin-left: 10%;
  margin-top: -5%;
  width: 5%;
}

#photoInfo {
  margin-left: 10%;
}

#photoInfo p {
  font-size: 0.85em;
  margin-left: 7%;
}

#Everest {
  width: 200%;
  display: block;
  margin-left:20%;
}

#Snaggletooth {
  margin-top: 20%;
  width: 200%;
  margin-left: 20%;
}

#Bowtruss {
  width: 120%;
  display: inline-block;
  margin-left: 125%;
}

#marathon {
  width: 120%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 125%;
}

#ChicagoMarathon {
  width: 130%;
  margin-left: 10%;
}

#EverestDish {
  width: 130%;
  margin-left: 10%;
  margin-top: 5%;
}

#dailyPieces p {
  margin: 0;
}