@import url('https://fonts.googleapis.com/css?family=Bad+Script|Enriqueta|Marck+Script');

.container-fluid {
  margin: 0 auto;
}

#text-overlay, #header-text, #name {
  position: absolute;
}

#name {
  font-family: 'Marck Script', cursive;
}

#text-overlay {
  color: black;
  opacity: 0.6;
  margin-top: 8vh;
  margin-left: 32vw;
  font-size: 120px;
  font-family: 'Marck Script', cursive;
}

#top {
  position: relative;
  background-color: #00004d; 
  height: 53vh;
  margin: 0 auto;
}

#header-text {
  color: white;
  font-size: 150px;
  margin-left: 48vw;
  margin-top: -50vh;
  font-family: 'Enriqueta', serif;
}

#name {
  color: #e5c100; //#00007f; 
  font-size: 150px;
  margin-left: 55vw;
  margin-top: -30vh;
}

body {
  background-color: #383838;
}

#profilePhoto {
	height: 50vh;
	z-index: 0;
  margin-left: 30vh;
  margin-top: 5vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: black;
    opacity: 0.7;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-left: 96vw;
    margin-top: 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #DCDCDC;
    color: white;
    height: 20vh;
}

.modal-body {padding: 2px 16px;}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  float:center;
  background-color: #B0C4DE;
}
button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
button:before {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
button:hover:after, button:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#menu {
  margin-left: 35vh;
  margin-top: 5vh;
}

#aboutContent {
  text-align: justify;
  background-color: #DCDCDC;
  margin-top: 3vh;
  width: 80vw;
  margin-left: 10vw;
  height: 23vh;
  border-radius: 10px;
}

#aboutText {
  font-family: 'Enriqueta', serif;
  padding: 20px;
}

/* //tooltip 
#aboutContent #aboutText::after {
    content: " ";
    position: absolute;
    bottom: 24%;  
    left: 25%;
    margin-left: -25px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent #B0C4DE transparent;
    color: #B0C4DE;
*/
