@import url('https://fonts.googleapis.com/css?family=Bad+Script|Enriqueta|Didact+Gothic');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.container-fluid {
  margin: 0 auto;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

#header-text, #name {
  position: absolute;
}

#homeBackground {
  margin: 0 auto;
  z-index: -1;
  width: 50%;
}

 ul {
 list-style-type: none;
 background-color: black;
 }

 ul a:link, a:visited {
  color: white;
 }

 ul a:hover, a:active {
  text-decoration: none;
  background-color: gray;
  /* White for color - change opacity of ul */
 }

#name {
  font-family: 'Didact Gothic', sans-serif;
  color: #C5B358;
  font-size: 100%;
  margin-left: 53%;
  margin-top: -25%;
  border: solid #C5B358;
  padding: 2%;
}

#top {
  position: relative;
  background-color: #00004d; 
  /*background: linear-gradient(#5f9f9f, #00004d); */
  height: 53%;
  margin: 0 auto;
  margin-left: -1%;
  width: 100%;
  left: 0;
  right: 0;
}

#profilePhoto {
	width: 10%;
  height: 1%;
	z-index: 0;
  margin-left: 20%;
  margin-top: 2%;
  border-radius: 100%;
}

#icons {
  z-index: -1;
  display: block;
  margin-left: 40%;
  margin-top: 4%;
  background-color: black;
}

.icon {
  margin: 1%;
  width: 20%;
}

#email {
  margin-right: 5%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}


.media {
  margin-top: 5%;
  margin-bottom: 3%;
}

.media-body {
  width: 40%;
  margin-left: 1%;
  margin-right: 3%;
}

#workzone {
  margin: 0;
  width: 100%;
}
#workzoneDiv {
  width: 30%;
}
#ayalaDiv {
  width: 30%;
}
#ayala {
  margin: 0;
  width: 100%;
}
#SAGC {
  margin: 0;
  width: 100%;
}
#LGBTAsianDiv {
  width: 30%;
}

#aboutContent {
  text-align: justify;
  color: white;
  background-color: black;
  margin-top: 1%;
  width: 75%;
  margin-left: 15%;
  height: 25%;
}

#aboutText {
  font-family: 'Enriqueta', serif;
  padding: 1.25em;
}

#sidebar {
  width: 25%;
  margin: 1.5%;
  height: 200%;
  border-style: outset;
  display: block;
  padding-left: 1%;
}

#resumeContent {
  margin: 1%;
  margin-right: 2%;
  display: block;
  height: 200%;
  width: 68%;
  float: right;
  border-style: outset;
  float: right;
  margin-top: 1.5%;
  padding: 1%;
  padding-bottom: 0.5%;
}

#sidebar, #resumeContent {
  background-color: #FFFFFF;
}

.resume-section {
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-top: 2%;
}

#resumeContent h2 {
  font-family: 'Enriqueta', serif;
  font-size: 220%;
}

#skills {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.resumeDates {
  font-size: 0.8em;
  margin-bottom: 1em;
}

#resumeBody {
  background-color: #F0F0F0;
}

#codeGit {
  margin-left: 10%;
  margin-top: -5%;
  width: 5%;
}

#photoInfo {
  margin-left: 10%;
}

#photoInfo p {
  font-size: 0.85em;
  margin-left: 7%;
}

#Everest {
  width: 200%;
  display: block;
  margin-left:20%;
}

#Snaggletooth {
  margin-top: 20%;
  width: 200%;
  margin-left: 20%;
}

#Bowtruss {
  width: 120%;
  display: inline-block;
  margin-left: 125%;
}

#marathon {
  width: 120%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 125%;
}

#ChicagoMarathon {
  width: 130%;
  margin-left: 10%;
}

#EverestDish {
  width: 130%;
  margin-left: 10%;
  margin-top: 5%;
}

#dailyPieces p {
  margin: 0;
}