@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Yellowtail|Arvo');
@import url('https://fonts.googleapis.com/css?family=Ranga|Nova+Mono|Lato:300|Open+Sans+Condensed:300');

@media only screen and (max-width: 400px) {
  #title {
    padding-left: 5%;
  }
  #main_title {
    font-size: 100%;
    line-height: 70%;
  }
  #subtitle {
    font-size: 50%;
  }
  #name {
    margin-top: 15%;
    margin-left: -30%;
  }
  #menu {
    display: none;
    width: 70%;
  }
  #hamburger, #menu-overlay {
    display: inline;
  }
  nav {
    margin-top: 10%;
  }
  #home {
    background: url('img/coveredited1_phone_v.jpg');
  }
  #aboutMe {
    background: url("img/aboutCover_phone_v.jpg");
  }
  #code {
    background: url("img/codeCover_phone_v.jpg");
  }
  #writing {
    background: url("img/writingCover_phone_v.jpg");
  }
  #photo {
    background: url("img/photoCover_phone_v.jpg");
  }
  #video {
    background: url("img/videoCover_phone_v.jpg");
  }
  #aboutContent {
    width: 130%;
    margin-left: -30%;
    margin-top: 20%;
  }
  #aboutTitle {
    font-size: 150%;
  }
  #codeContent, #writingContent {
    margin-left: -30%;
    width: 130%;
    margin-top: 20%;
  }
  #photoContent, #videoContent {
    width: 115%;
    margin-left: -15%;
  }
  #photoContent {
    height: 100%;
  }
  #photoRedirect {
    width: 160%;
    margin-left: 10%;
  }
  .media-body {
    margin-top: 25%;
    margin-left: -50%;
  }
  .portfolio-section {
    width: 60%;
  }
  .media-object {
    margin-left: 3%;
    width: 150%;
  }
  #winnebagoText {
    margin-top: 70%;
  }
  #restaurantText {
    margin-top: 63%;
  }
  #LGBT {
    margin-top: 58%;
  }
  #ayalaDiv {
    margin-top: 50%;
  }
  /*reset ayalaDiv for mobile */
  #resume-pdf {
    width: 140%;
    height: 100%;
    margin-left: -35%;
    padding-top: 10%;
  }
  #tlmd {
  width: 80%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  /*mobile phones? */
  #main_title{
    font-size: 150%;
    line-height: 70%;
  }
  #subtitle {
    font-size: 50%;
  }
  #name {
    margin-top: 20%;
    margin-left: -20%;
  }
 #menu {
    display: none;
    width: 70%;
  }
  #hamburger, #menu-overlay {
    display: inline;
  }
  nav {
    margin-top: 10%;
  }
  #home {
    background: url('img/coveredited1_cstmcrop.jpg');
  }
  #aboutMe {
    background: url("img/aboutCover_tablet.jpg");
  }
  #code {
    background: url("img/codeCover_tablet.jpg");
  }
  #writing {
    background: url("img/writingCover_tablet.jpg");
  }
  #photo {
    background: url("img/photoCover_tablet.jpg");
  }
  #video {
    background: url("img/videoCover_tablet.jpg");
  }
  #aboutContent {
    width: 130%;
    margin-left: -30%;
    margin-top: 20%;
  }
  #aboutTitle {
    font-size: 150%;
  }
  #codeContent, #writingContent {
    margin-left: -30%;
    width: 130%;
    margin-top: 20%;
  }
  #photoContent, #videoContent {
    width: 115%;
    margin-left: -15%;
  }
  #photoContent {
    height: 145%;
  }
  #photoRedirect {
    width: 160%;
    margin-left: 10%;
  }
  .media-body {
    margin-top: 37%;
    margin-left: -60%;
  }
  .portfolio-section {
    width: 60%;
  }
  .media-object {
    margin-left: 3%;
    width: 150%;
  }
  #winnebagoText {
    margin-top: 70%;
  }
  #restaurantText {
    margin-top: 63%;
  }
  #LGBT {
    margin-top: 58%;
  }
  #SceneVRText, #SensorGridText, #WorkZoneText {
    padding-left: 8%;
    padding-right: 2%;
    margin-top: 95%;
  }
  #workzoneImg {
    width: 150%;
    margin-left: 10%;
  }
  #resume-pdf {
    width: 140%;
    height: 100%;
    margin-left: -35%;
    padding-top: 10%;
  }
  #tlmd {
  width: 80%;
  margin-left: 10%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
  /*tablets */
  #main_title {
    font-size: 200%;
    line-height: 70%;
  }
  #subtitle {
    font-size: 50%;
  }
  #name {
    margin-top: 20%;
    margin-left: -10%;
  }
  #menu {
    display: none;
    width: 70%;
  }
  #hamburger, #menu-overlay {
    display: inline;
  }
  nav {
    margin-top: 10%;
  }
  #home {
    background: url('img/coveredited1_tablet.jpg');
  }
  #aboutMe {
    background: url("img/aboutCover_tablet.jpg");
  }
  #code {
    background: url("img/codeCover_tablet.jpg");
  }
  #writing {
    background: url("img/writingCover_tablet.jpg");
  }
  #photo {
    background: url("img/photoCover_tablet.jpg");
  }
  #video {
    background: url("img/videoCover_tablet.jpg");
  }
  #aboutContent {
    width: 130%;
    margin-left: -30%;
    margin-top: 20%;
  }
  #aboutTitle {
    font-size: 200%;
  }
  #codeContent, #writingContent {
    margin-left: -30%;
    width: 130%;
    margin-top: 20%;
  }
  #photoContent, #videoContent {
    width: 115%;
    margin-left: -20%;
  }
  #photoContent {
    height: 140%;
  }
  #photoRedirect {
    width: 160%;
    margin-left: 10%;
  }
  .media-body {
    margin-top: 37%;
    margin-left: -60%;
  }
  .portfolio-section {
    width: 60%;
  }
  .media-object {
    margin-left: 3%;
    width: 150%;
  }
  #winnebagoText {
    margin-top: 70%;
  }
  #restaurantText {
    margin-top: 63%;
  }
  #LGBT {
    margin-top: 58%;
  }
  #KnightLabLogo{
    margin-top: 2%;
    width: 170%;
  }
  #SceneVRText, #SensorGridText, #WorkZoneText {
    padding-left: 8%;
    padding-right: 2%;
    margin-top: 95%;
  }
  #workzoneImg {
    width: 150%;
    margin-left: 10%;
  }
  #resume-pdf {
    width: 140%;
    height: 100%;
    margin-left: -35%;
    padding-top: 10%;
  }
  #tlmd {
  margin-left: 15%;
  width: 80%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  #main_title {
    font-size: 200%;
    line-height: 70%;
  }
  #subtitle {
    font-size: 50%;
  }
  #name {
    margin-top: 10%;
    margin-left: 10%;
  }
  #menu {
    width: 31%;
    display: block;
    visibility: visible;
  }
  #hamburger, #menu-overlay {
    display: none;
  }
  #home {
    background: url("img/coveredited1.jpg");
  }
  #aboutMe {
    background: url("img/aboutCover.jpg");
  }
  #code {
    background: url("img/codeCover.jpg");
  }
  #writing {
    background: url("img/writingCover.jpg");
  }
  #photo {
    background: url("img/photoCover.jpg");
  }
  #video {
    background: url("img/videoCover.jpg");
  }
  #aboutContent {
    width: 85%;
    margin-left: 15%;
    margin-top: 10%;
  }
  #codeContent, #writingContent {
    margin-left: 15%;
    margin-top: 5%;
  }
  #photoContent, #videoContent {
    width: 85%;
    margin-left: 15%;
    height: 90%;
  }
  #photoRedirect {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    width: 90%;
    margin-left: 5%;
  }
  .media-body {
    margin-top: 37%;
    margin-left: -60%;
  }
  #winnebagoText {
    margin-top: 70%;
  }
  #restaurantText {
    margin-top: 63%;
  }
  .portfolio-section {
    width: 60%;
  }
  .media-object {
    margin-left: 3%;
    width: 150%;
  }
  #LGBT {
    margin-top: 58%;
  }
  #KnightLabLogo{
    margin-top: 2%;
    width: 130%;
    margin-left: 15%;
  }
  #SceneVRText, #SensorGridText, #WorkZoneText {
    padding-left: 8%;
    padding-right: 1%;
    margin-top: 80%;
  }
  #workzoneImg {
    width: 130%;
    margin-left: 10%;
  }
  #resume-pdf {
    width: 90%;
    height: 90%;
    margin-left: 15%;
  }
  #tlmd {
  margin-left: 5%;
  width: 80%;
  }
}
@media only screen and (min-width: 1000px) {
  /*desktop */
  #main_title {
    font-size: 250%;
    line-height: 70%;
    padding-left: 5%;
  }
  #subtitle {
    font-size: 70%;
  }
  #name {
    margin-top: 15%;
    margin-left: 10%;
  }
  #menu {
    width: 22%;
    display: block;
    visibility: visible;
  }
  #hamburger, #menu-overlay {
    display: none;
  }
  #home {
    background: url("img/coveredited1.jpg");
  }
  #aboutMe {
    background: url("img/aboutCover_tablet.jpg");
  }
  #code {
    background: url("img/codeCover.jpg");
  }
  #writing {
    background: url("img/writingCover.jpg");
  }
  #photo {
    background: url("img/photoCover.jpg");
  }
  #video {
    background: url("img/videoCover.jpg");
  }
  #aboutContent {
    width: 85%;
    margin-left: 10%;
    margin-top: 10%;
  }
  #codeContent, #writingContent {
    margin-left: 2%;
    margin-top: 5%;
  }
  #photoContent, #videoContent {
    width: 85%;
    margin-left: 10%;
  }
  #photoRedirect {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    width: 90%;
    margin-left: 5%;
    height: 90%;
  }
  .media-body {
    margin-left: 3%;
    margin-right: 3%;
  }
  .portfolio-section {
    width: 30%;
  }
  .media-object {
    margin: 0;
    width: 100%;
  }
  #resume-pdf {
    width: 100%;
    height: 100%;
  }
  #tlmd {
  margin-left: 10%;
  }
}

#name {
  z-index: 1;
  display: inline-block;
  position: absolute;
  color: white;
  font-family: 'Yellowtail', cursive;
  text-align: center;
}

#subtitle {
  font-family: 'Cutive Mono', monospace;
}

#menu {
  height: 100%;
  float: left;
  z-index: 1;
  position: fixed;
  background-color: #181818;
  padding-top: 12%;
}

 #menu ul {
  list-style-type: none;
  border-top: solid white;
  border-bottom: solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-width: thin;
  margin-left: 10%;
  margin-right: 12%;
 }

#menu ul a:link, a:visited {
  color: white;
 }

#menu ul a:hover, a:active {
  text-decoration: none;
  border-bottom: solid white;
 }

#menu li {
  font-size: 150%;
  text-align: left;
  padding: 0%;
  margin: 0;
  font-family: 'Cutive Mono', monospace;
}

.tab-content{
  display: block;
  float: right;
  z-index: -1;
  overflow: hidden;
}

.tab-pane {
  display: block;
  float: right;
  padding-left: 25%;
  padding-right: 5%;
}

#menu-overlay {
  position: fixed;
  width: 100%;
  height: 6%;
  background-color: #181818;
  margin: 0;
  z-index: 1;
}

#hamburger {
  margin-top: 5px;
  margin-left: 15px;
  padding-top: 3px;
  width: 35px;
  height: 35px;
  position: fixed;
  float: left;
  z-index: 2;
  cursor: pointer;
}
.hamburger-section {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  border-radius: 15%;
}

#home {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  z-index: 0;
}

#aboutContent {
  text-align: left;
  color: white;
  background-color: rgba(0,0,0,0.8);
  border-radius: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 5;
  display: block;
}

#aboutContent a {
  text-decoration: none;
  color: #ADD8E6;
}

#aboutMe {
  top: 0;
  left: 0;
  position: fixed;
  height: 105%;
  width: 103%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

#titleContainer {
  width: 100%;
}

#aboutTitle {
  padding-left: 10%;
  font-family: 'Nova Mono', monospace;
  margin-top: 5%;
  line-height: 0%;
}

#aboutText {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 105%;
}

#aboutText h1, #photoContent h1, #video h1 {
  font-family: 'Nova Mono', monospace;
}

#icons {
  z-index: -1;
  display: block;
  margin-left: 40%;
  margin-top: 4%;
  background-color: black;
}

.icon {
  margin: 1%;
  width: 20%;
}

.media {
  margin-bottom: 3%;
  width:85%;
  margin-left:10%;
}

.media-body {
  width: 40%;
  margin-right: 5%;
}

#code, #writing, #video, #photo, #resume {
  left: 0;
  position: fixed;
  width: 103%;
  height: 105%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
  font-size: 105%;
}

#programmingLang {
  border-top: solid;
  border-bottom: solid;
  margin-top: 5%;
}

#programmingLang h4 {
  text-align: center;
}

#code a {
  text-decoration: none;
  color: #ADD8E6;
}

#code h1 {
  font-family: 'Nova Mono', monospace;
} 

#codeContent h2 {
  margin-bottom: 2%;
  font-family: 'Nova Mono', monospace;
}

#codeContent h3, h4 {
 font-family: 'Nova Mono', monospace;
}

#codeIntro {
  width: 80%;
  padding-top: 3%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#currentProjects h2 {
  padding-left: 10%;
}

#KnightLabLogo {
  background-color: #F0FFFF;
} 

#workzoneImg {
  background-color: #F0FFFF;
}

#workzoneLink {
  padding: 0;
}

#codeRelCourses {
  margin-left: 10%;
  margin-right: 10%;
  border-top: solid;
  padding-top: 3%;
}

#writingIntro {
  margin-right: 10%;
}

#writing h1 {
  font-family: 'Nova Mono', monospace;
  padding-top: 3%;
  padding-left: 10%;
}

#writing h2, #writing h3 {
  font-family: 'Nova Mono', monospace;
  padding-left: 10%;
}

#writing a {
  text-decoration: none;
  color: #ADD8E6;
}

#writing ul {
  padding-left: 12%;
}

#writing p {
  padding-left: 10%;
  font-size: 110%;
}

#writingContent, #codeContent {
  background-color: rgba(0,0,0,0.7);
  color: white;
  text-align: justify;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#writingContent h3, h4 {
  text-align: left;
}

#writingRelCourses {
  border-top: solid;
  margin-left: 10%;
  margin-right: 8%;
}

#writingWork {
  border-top: solid;
  margin-left: 10%;
  margin-right: 8%;
  margin-bottom: 3%;
}

#dailyPiecesDiv {
  border-top: solid;
  margin-left: 10%;
  margin-right: 8%;
  margin-bottom: 1%;
}

#dailyPieces p {
  margin: 0;
  color: #ADD8E6;
  font-size: 90%;
}

#photoContent, #videoContent {
  text-align: justify;
  color: white;
  background-color: rgba(0,0,0,0.8);
  margin-top: 5%; /*adjust and add a margin-left*/
  border-radius: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 5;
  display: block;
  font-family: 'Lato', sans-serif;
}

#photoContent p {
  font-size: 110%;
  text-align: center;
}

#photoContent h2 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  font-size: 200%;
}

#photoContent h1 {
  text-align: center;
  font-size: 300%;
}

#photoRedirect {
  justify-content: center;
  -webkit-justify-content: center;
}

#photoContent a {
  text-decoration: none;
  color: #ADD8E6;
}

.photoElement {
  width: 50%;
  text-align: center;
}

.photoCircle {
  width: 50%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.photoElement img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#videoContent {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}
#videoContent a {
  color: #ADD8E6;
}

