@import url('https://fonts.googleapis.com/css?family=Bad+Script|Enriqueta|Didact+Gothic');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.container-fluid {
  margin: 0 auto;
}

#text-overlay, #header-text, #name {
  position: absolute;
}

#name {
  font-family: 'Didact Gothic', sans-serif;
  color: #C5B358;
  font-size: 700%;
  margin-left: 53%;
  margin-top: -25%;
  border: solid #C5B358;
  padding: 2%;
}

#text-overlay {
  color: black;
  opacity: 0.8;
  margin-top: 3%;
  margin-left: 35%;
  font-size: 150%;
  font-family: 'Didact Gothic', sans-serif;
}

#top {
  position: relative;
  background-color: #00004d; 
  /*background: linear-gradient(#5f9f9f, #00004d); */
  height: 53%;
  margin: 0 auto;
  margin-left: -1%;
  width: 100%;
  left: 0;
  right: 0;
}

body {
  background-color: #00004d;
}

#profilePhoto {
	width: 30%;
  height: 1%;
	z-index: 0;
  margin-left: 20%;
  margin-top: 2%;
  border-radius: 5%;
}

#icons {
  z-index: -1;
  display: block;
  position: fixed;
  margin-left: 40%;
  margin-top: 4%;
}

.icon {
  margin: 1%;
  width: 20%;
}

#email {
  margin-right: 5%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: black;
    opacity: 0.7;
    float: right;
    font-size: 200%;
    font-weight: bold;
    margin-top: -4%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-header {
    padding: 0.125em 1em;
    background-color: #F8F8F8;
    color: white;
    height: 12%;
    display: block;
}

.modal-header h1 {
  font-family: 'Enriqueta', serif;
  color: black;
  opacity: 0.8;
  font-size: 3em;
}

.modal-body {padding: 0.125em 1em;}

@-webkit-keyframes slideIn {
    from {bottom: -18.75em; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -18.75em; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.media {
  margin-top: 5%;
  margin-bottom: 3%;
}

.media-body {
  width: 80%;
  margin-left: 1%;
  margin-right: 3%;
}

#workzone {
  margin: 0;
  width: 100%;
}
#workzoneDiv {
  width: 30%;
}
#ayalaDiv {
  width: 30%;
}
#ayala {
  margin: 0;
  width: 100%;
}
#SAGC {
  margin: 0;
  width: 100%;
}
#LGBTAsianDiv {
  width: 30%;
}

button {
  padding: 1.25em 2.5em;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.10em;
  letter-spacing: 0.1875em;
  cursor: pointer;
  float:center;
  background-color: #B0C4DE;
}
button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0.125em solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:after {
  -webkit-transform: translate(0.1875em, 0.1875em);
          transform: translate(0.1875em, 0.1875em);
}
button:before {
  -webkit-transform: translate(-0.1875em, -0.1875em);
          transform: translate(-0.1875em, -0.1875em);
}
button:hover:after, button:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#menu {
  margin-left: 15%;
  margin-top: 2%;
}

#aboutContent {
  text-align: justify;
  color: white;
  background-color: #00004d;
  margin-top: 1%;
  width: 75%;
  margin-left: 15%;
  height: 25%;
}

#aboutText {
  font-family: 'Enriqueta', serif;
  padding: 1.25em;
}

#sidebar {
  width: 25%;
  margin: 1.5%;
  height: 200%;
  border-style: outset;
  display: block;
  padding-left: 1%;
}

#resumeContent {
  margin: 1%;
  margin-right: 2%;
  display: block;
  height: 200%;
  width: 68%;
  float: right;
  border-style: outset;
  float: right;
  margin-top: 1.5%;
  padding: 1%;
  padding-bottom: 0.5%;
}

#sidebar, #resumeContent {
  background-color: #FFFFFF;
}

.resume-section {
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-top: 2%;
}

#resumeContent h2 {
  font-family: 'Enriqueta', serif;
  font-size: 220%;
}

#skills {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.resumeDates {
  font-size: 0.8em;
  margin-bottom: 1em;
}

#resumeBody {
  background-color: #F0F0F0;
}

#codeGit {
  margin-left: 10%;
  margin-top: -5%;
  width: 5%;
}

#photoInfo {
  margin-left: 10%;
}

#photoInfo p {
  font-size: 0.85em;
  margin-left: 7%;
}

#Everest {
  width: 200%;
  display: block;
  margin-left:20%;
}

#Snaggletooth {
  margin-top: 20%;
  width: 200%;
  margin-left: 20%;
}

#Bowtruss {
  width: 120%;
  display: inline-block;
  margin-left: 125%;
}

#marathon {
  width: 120%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 125%;
}

#ChicagoMarathon {
  width: 130%;
  margin-left: 10%;
}

#EverestDish {
  width: 130%;
  margin-left: 10%;
  margin-top: 5%;
}

#dailyPieces p {
  margin: 0;
}